html, body{
    height: 100%;
    text-align: center;
    margin: 0 0;
    font-family:
    sans-serif;
}

h2{   /*this command will remove white space between divs*/
    margin: 0;
    padding: 0;
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}

h3{
 font-size: 20px;
}

.image1, .image2, .image3{
position: relative;
background-attachment: fixed;
background-position: center top;
background-size: cover;
background-repeat: no-repeat;
}

.image1 {
    background-image: url("images/img1.jpeg");
    min-height: 100%;
    margin-top: 0; 
    
}

.image2 {
    background-image: url("images/img2.jpeg");
    min-height: 400px;
}

.image3 {
    background-image: url("images/img3.jpeg");
    min-height: 400px;
}

.text{
    padding: 50px 80px;
     font-weight: 2.8em;
     line-height: 20pt
}

.bright{
    background-color: #4f97a3;
    color: #fff;
}

@media(max-width:568px) {

    .image1,
    .image2,
    .image3 {
        background-attachment: scroll;
    }
}